{% extends 'base.html' %}
{% block content %}



<section class="vh-100 gradient-custom">

    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Вы вышли из чатика.</h3>
                        <a style="text-decoration: none; color:black" href="{% url 'loginuser' %}"><h3 class="mb-4 pb-2 pb-md-0 text-center text_blur">Возвращайтесь</h3></a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}